.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 38px;
text-align: center;
letter-spacing: 2px;
} 

body {
    background-color: #AF9A89;
    background-size: 1500px;
    
} 
* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.profile-pic { 
    width: 250px;
    border-radius: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.header:hover{  color:gray;

}

.header{
    font-size:175%;
    text-align: center;
    text-decoration: underline;
}
.journey{
    width: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.thoughts{
    width: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.goals{
    width: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.absolute {
    margin: 20px auto;
    text-align: center;
    padding: 100px;
    width:50%


}
.logo {
    width: 100px;
    height: auto;
    position: absolute;
top: 0px;
right: 0px;
}